# App configuration
NEXT_PUBLIC_APP_URL=https://your-domain.vercel.app

# Database
DATABASE_URL="file:./dev.db"

# Supabase Credentials (from your Supabase Dashboard)
NEXT_PUBLIC_SUPABASE_URL=https://fckmhqyhglfnqhpjzrvu.supabase.co
SUPABASE_URL=https://fckmhqyhglfnqhpjzrvu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZja21ocXloZ2xmbnFocGp6cnZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxMDMxNjQsImV4cCI6MjEwMzY3OTE2NH0.lZE-BUwxwi4a2aKfQeymZkjHT5GgtGktSnJD8uPCqOc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZja21ocXloZ2xmbnFocGp6cnZ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODEwMzE2NCwiZXhwIjoyMTAzNjc5MTY0fQ.8EN7V3KaO1D4f93Tq99kRkChO-Lb4U_DxUGUp2F3sKw
SUPABASE_JWKS_URL=https://fckmhqyhglfnqhpjzrvu.supabase.co/auth/v1/.well-known/jwks.json
